:root{
  --textFont:'Vollkorn', sans-serif;
  --azul: #235D8F
}
*{
  padding: 0;
  margin: 0;
}

/*COMPONENT HEADER*/
header{
  min-height: 30px;
  background-color: var(--azul);
}
/*================*/

/*MAIN CONTAINER*/
.container-app{
  margin: 0 7%;
  min-height: 20px;
}
.container-app h1{
  font-size: 50px;
  font-family: var(--textFont);
  background: red;
}
/*===============*/
/*COMPONENT FOOTER*/
footer{
  min-height: 30px;
  background-color: var(--azul);
}
/*================*/
